.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 1rem;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #2D3748;
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-content li {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #4A5568;
}

.modal-close-button {
  background-color: transparent;
  color: #2D3748;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .4rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.modal-close-button:hover {
  color: #E53E3E;
  transform: scale(1.1);
}
